﻿@model QrQuest.Models.ViewModels.LoginViewModel

<link href="~/css/AdminLog.css" rel="stylesheet" />

<form asp-action="AdminLog" asp-controller="Home" method="post" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Login" >Введите NickName</label>
            <input type="text" asp-for="Login" name="Login" />
            <span asp-validation-for="Login"/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input type="password" asp-for="Password" name="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn" />
        </div>
    </div>
</form>

