﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy</title>
</head>
<body>

    <form action="https://merchant.intellectmoney.ru/ru/" name="pay" method="POST">
        <input type="hidden" name="eshopId" value="457881">
        <input type="hidden" name="orderId" value="order_0000001">
        <input type="hidden" name="recipientAmount" value="12.30">
        <input type="hidden" name="recipientCurrency" value="TST">
        <input type="hidden" name="user_mail" value="241000g@mail.ru">
        <input type="hidden" name="successUrl" value="http://qrquestct.ru/Home/OnSuccess">

        <input type="submit" name="button" value="Оплатить">
    </form>
</body>
</html>
