﻿@model QrQuest.Models.Update

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>QR Quest</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link href="~/css/Index.css" rel="stylesheet" type="text/css" />
    <link href="~/css/colpick.css" rel="stylesheet" />
    <script src="~/js/colpick.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="#">
                <img src="~/images/logo.jpg" class="logo" />
            </a>
            <ul id="hul">
                <li class="hli">
                    <a class="nav" id="review" onclick="ClickReview()">Обзор</a>
                </li>
                <li class="hli">
                    <a class="nav" id="update" onclick="ClickUpdate()">Обновления</a>
                </li>
                <li class="hli">
                    <a class="nav" id="about" onclick="ClickAbout()">О нас</a>
                </li>
                <li class="hli">
                    <a class="nav" id="contacts" onclick="ClickContacts()">Контакты</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="description">
        <div class="container">
            <h1>QR Quest</h1>

            <p class="descriptiontext">QrQuest - это новое представление о квестах. Играйте в чужие квесты при помощи своего смартфона. Создавайте свои квесты на компьютере.Ниже вы можете скачать приложения для создание квестов на ПК и приложение для смартфона.</p>
            <div class="downloads">
                <a class="downbtn" href="~/downloads/QrQuestInstall.msi" download>Скачать админку для Windows</a>
                <a href="https://play.google.com/store/apps/details?id=codeteam.qrquest.qrquest" class="downbtn">Версия для Android</a>
            </div>
        </div>
        <div class="updates">
            <div class="border">
                <h1>Список обновлений</h1>
            </div>
            <div class="notes">

                @{
                    //<p>@User.Identity.IsAuthenticated</p>
                    if (User.IsInRole("Admin"))
                    {
                        @Html.AntiForgeryToken();
                        <form asp-action="Index" asp-controller="Home">
                            <div class="validation" asp-validation-summary="ModelOnly" />
                            <div class="updateForm">
                                <div class="form-group">
                                    <label asp-for="Version">Введите Версию</label>
                                    <input class="inp" type="text" asp-for="Version" />
                                    <span asp-validatoin-for="Version" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date">Введите Дату</label>
                                    <input class="inp" type="date" asp-for="Date" />
                                    <span asp-validation-for="Date" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Additions[0].Class">Введите Класс</label>
                                    <input class="inp" type="text" asp-for="Additions[0].Class" />
                                    <span asp-validation-for="Additions[0].Class" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Additions[0].Description">Введите Описание</label>
                                    <input class="inp" type="text" asp-for="Additions[0].Description" />
                                    <span asp-validation-for="Additions[0].Description" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Additions[0].Color">Выберите Цвет</label>
                                    <input class="inp" asp-for="Additions[0].Color" id="picker" />
                                    <span asp-validation-for="Additions[0].Color" />
                                </div>
                                <div class="Addition">

                                </div>
                                <div>
                                    <p><a class="AddLink"> Еще +</a></p>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Добавить обновление" class="btn inp" />
                                </div>
                            </div>
                        </form>
                    }
                }

                @{

                    var Updates = ViewBag.Updates;
                    if (Updates != null)
                    {
                        foreach (var u in Updates)
                        {
                            <header class="elemnt-header">
                                <span class="version">@u.Version</span>
                                <div class="date">@u.Date</div>
                            </header>
                            <ul>
                                @if (u.Additions != null)
                                {
                                    @foreach (var a in u.Additions)
                                    {
                                        <li id="note">
                                            <div class="types @a.Class" style="background-color:@a.Color">@a.Class.ToUpper()</div>
                                            <div class="desc">@a.Description</div>
                                        </li>
                                    }
                                }

                            </ul>
                        }

                    }

                }


                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <a class="inp enter" href="Home/AdminLog">Вход для админов</a>
                    }
                    else
                    {
                        <input asp-action="Logout" asp-controller="Home" type="button" value="Выйти" class="inp" />
                    }
                }

            </div>
        </div>
        <div class="about">
            <h1 style="text-align:center">QR Quest</h1>
            <p class="descriptiontext">QrQuest - площадка для создания и проведения квестов различных тематик с использованием Qr - кодов. Скачав наше приложения для windows, вы можете создавать собственные квесты, а также, при желании, начать зарабатывать на них. Скачав же приложение на Android, вы можете найти уже созданные квесты и начать играть в них.</p>
            <p class="descriptiontext">Также у нас есть услуга создания корпоративных квестов. Если у вас намечается праздник, то QrQuest - лучшее решение. Напишите нам на почту, и мы сделаем ваш праздник лучше!</p>
        </div>
        <div class="contacts">
            <p class="descriptiontext">Есть какие-то вопросы? Пиши на на почту!</p>
            <p class="descriptiontext"> codeteam.qrquest@yandex.ru</p>
        </div>
    </div>
    <script>
        function ClickReview() {
            document.getElementById('review').style.color = '#ffffff';
            document.getElementById('update').style.color = '#7fffd4';
            document.getElementById('about').style.color = '#7fffd4';
            document.getElementById('contacts').style.color = '#7fffd4';
            document.getElementsByClassName('container')[1].style.display = 'block';
            document.getElementsByClassName('updates')[0].style.display = 'none';
            document.getElementsByClassName('about')[0].style.display = 'none';
            document.getElementsByClassName('contacts')[0].style.display = 'none';
        }

        function ClickAbout() {
            document.getElementById('review').style.color = '#7fffd4';
            document.getElementById('update').style.color = '#7fffd4';
            document.getElementById('about').style.color = '#ffffff';
            document.getElementById('contacts').style.color = '#7fffd4';
            document.getElementsByClassName('container')[1].style.display = 'none';
            document.getElementsByClassName('updates')[0].style.display = 'none';
            document.getElementsByClassName('about')[0].style.display = 'block';
            document.getElementsByClassName('contacts')[0].style.display = 'none';
        }

        function ClickContacts() {
            document.getElementById('review').style.color = '#7fffd4';
            document.getElementById('update').style.color = '#7fffd4';
            document.getElementById('about').style.color = '#7fffd4';
            document.getElementById('contacts').style.color = '#ffffff';
            document.getElementsByClassName('container')[1].style.display = 'none';
            document.getElementsByClassName('updates')[0].style.display = 'none';
            document.getElementsByClassName('about')[0].style.display = 'none';
            document.getElementsByClassName('contacts')[0].style.display = 'block';
        }

        function ClickUpdate() {
            document.getElementById('review').style.color = '#7fffd4';
            document.getElementById('update').style.color = '#ffffff';
            document.getElementById('about').style.color = '#7fffd4';
            document.getElementById('contacts').style.color = '#7fffd4';
            document.getElementsByClassName('container')[1].style.display = 'none';
            document.getElementsByClassName('updates')[0].style.display = 'block';
            document.getElementsByClassName('about')[0].style.display = 'none';
            document.getElementsByClassName('contacts')[0].style.display = 'none';
        }



        var i = 0;

        $('.AddLink').click(function () {
            i++;
            var html2Add = "<div class='AdditionBlock'>" +
                "<div class='form-group'>" +
                "<label asp-for='Additions[" + i + "].Class'>Введите Класс</label>" +
                "<input type='text' asp-for='Additions[" + i + "].Class'/>" +
                " <span asp-validation-for='Additions[" + i + "].Class' />" +
                " </div>" +
                "<div class='form-group'>" +
                " <label asp-for='Additions[" + i + "].Description'>Введите Описание</label>" +
                " <input type='text' asp-for='Additions[" + i + "].Description'/>" +
                "<span asp-validation-for='Additions[" + i + "].Description' />" +
                "</div>" +
                "<div class='form-group'>" +
                " <label asp-for='Additions[" + i + "].Color'>Введите Описание</label>" +
                " <input type='text' asp-for='Additions[" + i + "].Color'/>" +
                "<span asp-validation-for='Additions[" + i + "].Color' />" +
                "</div>" +
                "</div>";
            $('.Addition').append(html2Add);
        })

        $('#picker').colpick({
            layout: 'hex',
            submit: 0,
            colorScheme: 'dark',
            onChange: function (hsb, hex, rgb) {
                $('#picker').val(hex).css('border-color', '#' + hex);
            }
        }).keyup(function () {
            $(this).colpickSetColor(this.value);
        });


    </script>
</body>
</html>
