﻿* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    height: 100vh;
    background-color: #24292e;
    width: 100vw;
    overflow-x: hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

input {
    font-size: 1em;
    background-color: #24292e;
    color: #7fffd4;
    width: 190px;
    height: 30px;
    padding: 5px;
    border: 2px solid #7fffd4;
    border-radius: 5px;
    margin: 5px auto;
}

form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn:hover{
    border-color:#fff;
    color:#fff;
}

label{
    color:#7fffd4;
}
