﻿* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    height: 100vh;
    background-color: #24292e;
    width: 100vw;
    overflow-x:hidden;
}

.header {
    height: 200px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
    text-align: center;
}

.logo {
    width: 96px;
    height: 96px;
}

.nav {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.75em;
}

ul {
    font-size: 1.75em !important;
}

li {
    list-style-type: none;
}

#hul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.hli {
    margin: 0 5px;
    cursor:pointer;
}

h1 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 3em;
}

.description {
    max-width: 800px;
    margin: auto;
}

.descriptiontext {
    line-height: 25px;
    color: #fff;
    font-size: 1.25em !important;
    margin-bottom: 15px;
}

.downloads {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;    
}

@media (max-width:780px){
    .downloads{
        justify-content:center;
    }
}

.downbtn {
    font-size: 1.25em !important;
    font-weight: 500 !important;
    color: #7fffd4;
    text-decoration: none;
    border: solid;
    border-color: #7fffd4;
    border-width: 1px;
    border-radius: 5px;
    padding: 7px;
    vertical-align: middle;
    min-width:320px;
    max-width:90%;
    width: 345px;
    margin: 5px;
}

.downbtn:hover {
        background-color: #7fffd4;
        color: #24292e;
    }

p {
    font-weight: 200;
}

#review {
    color: #ffffff;
}

#update {
    color: #7fffd4;
}

#about {
    color: #7fffd4;
}

#contacts {
    color: #7fffd4;
}

.updates {
    display: none;
    padding: 40px 20px;
}

.about {
    display: none;
    padding:15px;
}

.contacts {
    display: none;
    text-align: center;
}

.border {
    border-bottom: solid;
    border-color: grey;
    border-width: 1px;
    margin-bottom: 15px;
}

.notes {
    border-left: solid;
    border-color: grey;
    border-width: 2px;
}

.element {
    margin-left: 10px;
}

.elemnt-header {
    margin-left: 15px;
    display: grid;
    grid-template-columns: 85px 1fr;
}

.version {
    width: 75px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-right: 15px;
    background-color: #7fffd4;
    color: #24292e;
    font-size: 22px;
    font-weight: 500 !important;
}

.date {
    color: grey;
    font-size: 22px;
    font-weight: 500 !important;
}

#note {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 90px;
    display: grid;
    grid-template-columns: 75px 1fr;
    font-size: 20px;
    font-weight: 500 !important;
    display: grid;
}

.types {
    color: #24292e;
    text-align: center !important;
    font-weight: 500 !important;
}

.new {
    background-color: #00FF7F;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    height: 30px;
}

.desc {
    margin-left: 15px;
    color: grey;
}

.fixed {
    background-color: #19B5FE;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    height: 30px;
}

.inp {
    font-size: 1em;
    background-color: #24292e;
    color: #7fffd4;
    width: 190px;
    height: 30px;
    padding: 5px;
    border: 2px solid #7fffd4;
    border-radius:5px;
    margin:5px auto;
}

.enter {
    text-decoration: none;
    margin-left:15px;
}

.enter:hover{
    border-color:#fff;
    color:#fff;
}

.updateForm{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    color: #7fffd4
}

.AddLink {
    color: #7fffd4;
}

.AddLink:hover{
    cursor:pointer;
    color:#fff;
    font-weight:bold;
}

.btn:hover{
    color:#fff;
    border-color:#fff;
    font-weight:bold;
}